/* GENERAL ------------------------------------------ */

body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	background: #efece8;
	color: #888;
}

header,
footer{
	background-image: url(../img/noise.png) repeat;
	background-color: #383f47;
}

body a{ color: #21AAE7; }

a:hover{ color: #2C7DE0; }

footer a:hover{ color: #fff; }

h1,h2,h3,h4,h5,h6{ color: #383f47; }

/* Selection colours (easy to forget) */

::selection 	 	{background: #fbe471 }
::-moz-selection 	{background: #fbe471}
img::selection 		{background: #fbe471}
img::-moz-selection	{background: #fbe471}
body {-webkit-tap-highlight-color: background: #fbe471}

/* HEADINGS ------------------------------------------------------------*/

.masthead{ border-bottom: 1px solid #ccc; }
	
/* NAVIGATION ------------------------------------------------------------*/

#nav>li>a{ color: #f1f1f1; }

#nav>li>a:hover{ color: #fee271; }

#nav>li.current-menu-item>a,
#nav>li.current_page_item>a{ border-bottom: solid #fee271 2px; }

#nav>li ul{ 
    background: #f1f1f1;
    opacity:0.7;
    filter:Alpha(opacity=50); /* IE8 and earlier */ 
}

#nav>li ul li a{ color: #444; }

#nav>li ul li a:hover{
	background: #21AAE7;
	color: #fbe471;
}

/* CATEGORIES NAVIGATION ------------------------------------------------------------*/

.cat-nav li{ border-right: 1px solid #444; }


/* SLIDER-HOLDER ------------------------------------------------------------*/

#headline h4{ color: #f1f1f1; }

#headline .headline-text{ color: #f1f1f1; }

#headline .read-more{ color: #fbe471; }


#headline .read-more:hover{ color: #ffff; }

/* RELATED PROJECTS ---------------------------------------------------*/

.related-projects{ border-top: 1px solid #ccc; }

.related-heading{ color: #444; }

.related-projects .thumb{ background: #fff url(../img/plus.png) no-repeat center center; }

.related-projects .heading{ color: #444; }

/* MAIN ------------------------------------------------------------*/

#main .wrapper{  background-color: #f1f1f1; }

.multiplebgs #main .wrapper{
	background-image: url(../img/border-bg-bottom.png), url(../img/border-bg-top.png);
	background-repeat: repeat-x, repeat-x;
	background-position: bottom left, top left;
}

.no-multiplebgs #main .wrapper{
	background: #f1f1f1 url(../img/border-bg-top.png) repeat-x top left;
}

.no-boxshadow #main .wrapper{
	border: 1px solid #e0e0e0;
}

/* HOME ------------------------------------------------------------*/


.home-block{ border-bottom: 1px solid #ccc; }

.home-block figure .thumb{ background: #fff url(../img/plus.png) no-repeat center center; }

.home-block figure .simple-thumb{ background: #fff; }

.home-block figure figcaption strong{ color: #444; }

/* BLOG ------------------------------------------------------------*/

#posts-list,
#post-content{
	position: relative;
	float: left;
}

#posts-list .entry-date,
#posts-content .entry-date,
.home-posts .entry-date{
	background: #3b424b;
	color: #efe271;
}

#posts-list .post-heading .meta a{ color: #888;  }

#posts-list .feature-image,
#post-content .feature-image{
	background: #fff url(../img/plus.png) no-repeat center center;
}

.portfolio-list figure{ background: #fff; }

.portfolio-list figure .thumb{ background: #fff url(../img/plus.png) no-repeat center center; }

/* PAGER ------------------------------------------------------------*/

.pager li a{
	color: #484848;
	border: 1px solid #ccc;
}

.pager li.active a{
	color: #fff;
	background: #444;
}

.pager li:hover a{ background: #fae471; }

/* SIDEBAR ------------------------------------------------------------*/

.post-counter{
	color: #888;
}


/* FOOTER ------------------------------------------------------------*/

footer{ color: #aaa; }

footer a{ color: #fee271; }

footer h4{ color: #f1f1f1; }


